<div class="row">
    <div class="col s12">
        <h5 class="center-align"><strong>Your given rating and reviews</strong></h5>
    </div>
    <!-- RENDER RECORED RATINGS (if it exists) -->  
    <% if (allUserRating) { %>
        <div class="col s12 center">
            <div class="card-panel valign-wrapper blue lighten-4">
                <span data-cy="overall-rating-text" class="col s12">You have given total of <%= allUserRating.length %> reviews for freelancer.</span>
                <a id="add_rating_btn" class="btn right" href="/profile/rating/form">Add</a>
            </div>
        </div>

        <div data-cy="given-rating-section">
        <% 
        let count = 0;
        allUserRating.forEach(function (rating) { 
        count += 1; %>
        <div class="col s12 l6"> 
            <div class="yellow lighten-5 z-depth-1" style="border: 1px solid rgb(248, 197, 69); border-radius: 1rem; margin-top: 1%; margin-bottom: 1%;">
                <div class="row" style="padding-left: 2%; padding-right: 2%;">
                    <div class="valign-wrapper col" style="padding-left: 2%; padding-right: 2%; padding-top: 2%;">
                        <i class="large material-icons">account_circle</i>
                        <div>
                            <h6><strong><%= rating.rater_id %></strong></h6>
                            <span>
                                <% for (let i=0; i<5; i++) { 
                                    if ( i < rating.rating ) { %>
                                        <i class="material-icons Small orange-text">star</i>
                                    <% } else { %>
                                        <i class="material-icons Small orange-text">star_border</i>
                                    <% } 
                                } %>
                            </span>
                            <br>
                            <span><small><%= rating.date %> - <%= rating.time %></small></span>
                        </div>
                    </div>
                    <!-- DROP DOWN -->
                    <!-- Delete Button -->
                    <div>
                        <span hidden><%= rating.rating_id %></span>
                        <button data-cy="delete-review-btn" class="btn-small red right delete-review-btn" style="margin-right: 1rem; margin-top: 1rem;">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                </div>

                <div class="divider" style="margin: 3%;"></div>
                <div style="padding-left: 3%; padding-right: 3%;">
                    <p><%= rating.review %></p>
                    
                </div>
                <div style="padding-left: 3%; padding-right: 3%;">
                    <p class="yellow lighten-4" style="padding: 3%;">
                        <span>Duration: <%= rating.project_duration %> days</span>
                        <span class="new badge green" data-badge-caption="<%= rating.project_status %>"></span>
                    </p>
                </div>
            </div>
        </div>
        <% }) %>
        </div>
    <% } else { %>
        <div class="col s12">
            <h6 class="center-align">You haven't given any ratings and reviews yet.</h6>
        </div>
    <% } %>
</div>

<script>
    // Rating reviews
    $('.edit_review_btn').on('click', function () {
        console.log('clicked');
        let parent = $(this).parent();
        console.log(parent);
        console.log(parent.id);
    })
    
    $(document).on('click', '.delete-review-btn', function () {
        event.preventDefault();
        let wrappedNode = $(this).parent();

        let ratingID = $(wrappedNode).children(":first").html();
        let queryData = {};
        queryData.ratingID = ratingID;

        $.ajax({
            url: '/profile/rating/delete',
            type: 'DELETE',
            contentType: 'application/json',
            data: JSON.stringify(queryData),
            success: function (result) {
                console.log("Delete successful");
                console.log(result.message);
                setTimeout(function () {
                    window.location.href = "/profile";
                }, 2000);
            },
            error: function (result) {
                console.log("Delete failed");
                console.log(result.message);
            }
        });
    })
</script>