<%- include('partials/header'); -%>

<div class="container">
    <h4 class="center-align">Chat Box</h4>

    <div class="row">
        <div class="col s12 m4"> <!-- User List Section -->
            <h5>Users</h5>
            <ul id="user-list" class="collection">
                <!-- User list will be populated here -->
            </ul>
        </div>

        <div class="col s12 m8 offset-m1">
            <div class="card-panel">

                <!-- Message History Section -->
                <div id="message-history" class="section">
                    <!-- Display message history -->
                    <% if (messages && messages.length > 0) { %>
                        <% messages.forEach(function(message) { %>
                            <div class="chip <%= message.sender === session.username ? 'blue lighten-4' : 'green lighten-4' %>">
                                <strong><%= message.sender %>:</strong> <%= message.message %>
                            </div>
                        <% }); %>
                    <% } else { %>
                        <p class="grey-text">No messages yet...</p>
                    <% } %>
                </div>

                <!-- Input field to send new messages -->
                <div class="row">
                    <div class="input-field col s9">
                        <input id="message-input" type="text" name="message" placeholder="Type your message..." required>
                    </div>
                    <div class="input-field col s3">
                        <button id="send-message" class="btn waves-effect waves-light">Send</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function() {
        const userType = "<%= userType %>";
        const username = "<%= session.username %>";
        let receiverUsername = ''; 


        $.ajax({
            url: '/messages/users',
            method: 'GET',
            success: function(users) {
                console.log(users);
                users.forEach(user => {
                    $('#user-list').append(`<li class="user collection-item" data-username="${user.username}">${user.username}</li>`);
                });

                $(document).on('click', '.user', function() {

                    receiverUsername = $(this).data('username'); 
                    loadChatHistory(receiverUsername); 
                });
            },
            error: function(err) {
                console.error(err);
            }
        });


        function loadChatHistory(username) {
            $.ajax({
                url: `/messages/history/${username}`,
                method: 'GET',
                success: function(chatHistory) {
                    $('#message-history').empty();
                    chatHistory.forEach(chat => {
                        $('#message-history').append(`<div class="chip ${chat.sender === username ? 'blue lighten-4' : 'green lighten-4'}"><strong>${chat.sender}:</strong> ${chat.message}</div>`);
                    });
                    scrollChatToBottom(); 
                },
                error: function(err) {
                    console.error(err);
                }
            });
        }

    
        function scrollChatToBottom() {
            const messageHistory = document.getElementById('message-history');
            messageHistory.scrollTop = messageHistory.scrollHeight;
        }


        const socket = io(); 



    });
</script>
