<%- include('partials/header'); -%>

    <div class="container">
        <h4 class="center-align teal-text">Chat Box</h4>

        <div class="row">
            <!-- User List Section -->
            <div class="col s12 m4">
                <h5 class="blue-text">Users</h5>
                <ul id="user-list" class="collection with-header">
                    <li class="collection-header">
                        <h6>Chats</h6>
                    </li>
                    <!-- User list will be populated here -->
                </ul>
            </div>

            <!-- Chat Section -->
            <div class="col s12 m8">
                <div class="card-panel teal lighten-5">
                    <div id="message-history" class="section" style="max-height: 400px; overflow-y: auto;">
                        <p class="grey-text">Select user to view chat history...</p>
                    </div>
            
                    <!-- Input field to send new messages -->
                    <div class="row">
                        <div class="input-field col s9">
                            <input id="message-input" type="text" class="validate" name="message"
                                placeholder="Type your message..." required>
                        </div>
                        <div class="input-field col s3">
                            <button id="send-message" class="btn waves-effect waves-light teal darken-2" disabled>Send</button>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <!-- Footer -->
    <%- include('partials/footer'); -%>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            $(document).ready(function () {
                let receiverUsername = '';
            
                // Load users
                $.get('/messages/users', function (users) {
                    if (users && users.length > 0) {
                        users.forEach(user => {
                            $('#user-list').append(`<li class="collection-item user" data-username="${user.userId}">${user.username}</li>`);
                        });
                    } else {
                        $('#user-list').append('<li class="collection-item">No users found</li>');
                    }
                });
            
                // Click on user to load chat
                $(document).on('click', '.user', function () {
                    receiverUsername = $(this).data('username');
                    $('#send-message').prop('disabled', false);
                    loadChatHistory(receiverUsername);
                });
            
                // Load chat history
                function loadChatHistory(username) {
                    $.get(`/messages/history/${username}`, function (chatHistory) {
                        $('#message-history').empty();
                        chatHistory.forEach(chat => {
                            $('#message-history').append(`
                                <div class="message chip ${chat.sender_id === "<%= session.user.id %>" ? 'blue lighten-4' : 'green lighten-4'}">
                                    <strong></strong> ${chat.content}
                                </div>
                            `);
                        });
                    });
                }
            
                // Socket.io for real-time chat
                const socket = io();
            
                // Send message on button click
                $('#send-message').on('click', function () {
                    const messageContent = $('#message-input').val();
                    if (messageContent && receiverUsername) {
                        socket.emit('sendMessage', {
                            sender_id: "<%= session.user.id %>",
                            receiver_id: receiverUsername,
                            content: messageContent
                        });
                        $('#message-input').val(''); // Clear the input field
                    }
                });
            
                // Listen for new messages
                socket.on('receiveMessage', function (message) {
                    if (message.sender_id === receiverUsername || message.receiver_id === receiverUsername) {
                        $('#message-history').append(`
                            <div class="message chip ${message.sender_id === "<%= session.user.id %>" ? 'blue lighten-4' : 'green lighten-4'}">
                                <strong></strong> ${message.content}
                            </div>
                        `);
                    }
                });
            });
            
        </script>