<%- include('partials/header'); -%>

<div class="container">
    <h3 class="center-align">Profile Management</h3>
    <div class="row">
        <!-- Define the tabs -->
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#profile">Profile Detail</a></li>
                <li class="tab col s6"><a class="" href="#ratingreview">Rating and Review</a></li>
            </ul>
        </div>

        <!-- Define the content within detail tab -->
        <div id="profile" class="col s12 z-depth-2 amber lighten-5">
            <div class="profile-spacing">
                <!-- Personal information -->
                <div>
                    
                    <% if (userData.role=="freelancer") { %>
                    <h4>
                        <strong><%= userData.profile.name %></strong>
                        <span class="new badge blue" data-badge-caption="<%= userData.role %>"></span>
                    </h4>
                    <% } else { %>
                    <h5>
                        <strong><%= userData.profile.name %></strong>
                        <span class="new badge orange" data-badge-caption="<%= userData.role %>"></span>
                    </h5>
                    <h6 class="blue-text text-darken-3">
                        <strong><%= userData.profile.company_details %></strong>
                    </h6>
                    <% } %>
                    
                    <table>
                        <tbody>
                            <tr>
                                <th>Email</th>
                                <td><%= userData.email %></td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td><%= userData.contact_info.phone %></td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td><%= userData.contact_info.address %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <% if (userData.role=="freelancer") { %>
                <!-- Skills section -->
                <div class="col s12 m6">
                    <h6><strong>Skills</strong></h6>
                    <ul class="collection">
                        <% userData.profile.skills.forEach(function (skill) { %>
                            <li class="collection-item">
                                <%= skill %>
                            </li>
                        <% }) %>
                    </ul>
                </div>

                <!-- Experience section -->
                <div class="col s12 m6">
                    <h6><strong>Experience</strong></h6>
                    <div class="card-panel teal lighten-5">
                        <%= userData.profile.experience %>
                    </div>
                </div>
                <% } %>

                <div class="right-align profile-spacing">
                    <a class="btn">
                        Edit Profile
                    </a>
                </div>
            </div>
        </div>

        <!-- Define the content within rating and review tab -->
        <div id="ratingreview" class="col s12 z-depth-2 orange lighten-5">
            <div class="row">
                <div class="col s12">
                    <h5 class="center-align"><strong>Your rating and reviews</strong></h5>
                </div>
            </div>
        </div>
    </div>
        
    
</div>

<script>
    var el = document.querySelector('.tabs');
    var instance = M.Tabs.init(el, {});
</script>

<%- include('partials/footer'); -%>